@model Task9Identity.Models.VMs.ForgetPasswordVM
<h2>Forget Password</h2>
<div class=" offset-md-1 col-md-7">
    <form method="post">
        <h4>Enter Email Address</h4>
        <hr />
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <label asp-for="Email" class="col-md-3"></label>
            <div class="col-md-7">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="">
            <input type="submit" value="Send Reset Link" class="form-control col-md-4 offset-md-3 btn-outline-primary btn-sm"/>
        </div>
    </form>
</div>
@section scripts{
<partial name="_ValidationScriptsPartial" />
}