@model Task9Identity.Models.VMs.ForgetPasswordSetNewVM
<h2>Reset Forgotten Password</h2>
<div class=" offset-md-1 col-md-7">
    <form asp-action="ForgotPasswordReset" asp-controller="Account">
        <h4>Enter New Password To Reset</h4>
        <hr />
        <div asp-validation-summary="ModelOnly"></div>
        <input asp-for="Token" type="hidden" class="form-control" />
        <input asp-for="Email" type="hidden" class="form-control" />
        <div class="form-group row">
            <label asp-for="Password" class="col-md-3"></label>
            <div class="col-md-7">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ConfirmPassword" class="col-md-3"></label>
            <div class="col-md-7">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="">
            <input type="submit" value="Login" class="form-control col-md-4 offset-md-3 btn-outline-primary btn-sm" />
        </div>
        <div class="pt-3">
            <a asp-controller="Account" class="offset-3" asp-action="Register">Register</a>
        </div>
    </form>
</div>
@section scripts{
<partial name="_ValidationScriptsPartial" />
}