@model Task9Identity.Models.VMs.ResetPasswrodVM
<h2>Reset Password</h2>
<div class=" offset-md-1 col-md-7">
    <form asp-action="ResetPassword" asp-controller="Account">
        
        <hr />
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group  row ">
            <label asp-for="CurrentPasswrod" class="col-md-3"></label>
            <div class="col-md-7">
                <input asp-for="CurrentPasswrod" class="form-control" />
                <span asp-validation-for="CurrentPasswrod" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Password" class="col-md-3"></label>
            <div class="col-md-7">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row ">

            <label asp-for="ConfirmPassword" class="col-md-3">    </label>
            <div class="col-md-7">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="">
            <input type="submit" value="Reset Password" class="form-control col-md-4 offset-md-3 btn-outline-primary btn-sm" />
        </div>
    </form>
</div>
@section scripts{
<partial name="_ValidationScriptsPartial" />
}