@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

<h1>Roles</h1>

<p>
    <a asp-action="CreateRole" asp-controller="Roles">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Role Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="EditRole" asp-route-roleId="@item.Id">Manage Role</a> |
                    <a asp-action="DeleteRole" asp-route-roleId="@item.Id">Delete</a> 
                   @* <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>